@model StudentApp.ViewModel.StudentMasterViewModel
@{
    ViewBag.Title = "Index";
}


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function () {
        $("#btnAddToList").click(function () {
            AddMarksIntoTable();
        });
         $("#btnSave").click(function () {
            addStudentMarksToDatabase();
        });
    });

        ///////////////////////////////////Add Marks to Table///////////////////////////////////////////////////

        function AddMarksIntoTable() {

            if ($("#txtMarksObtained").val() === "") {
                alert("Please enter marks obtained");
                $("#txtMarksObtained").focus();
                return;
            }


            if ($("#txtTotalMarks").val() === "" || parseInt($("#txtTotalMarks").val()) === 0) {
                alert("Please enter Total marks");
                $("#txtTotalMarks").focus();
                return;
            }


            if (parseInt($("#txtTotalMarks").val()) < parseInt($("#txtMarksObtained").val())) {
                alert("Obtain mark should be less or equal to total marks");
                return;
            }


                var marksTable = $("#tableStudentMarks");
                var subjectId = $("#ddSubject").val();
                var subject = $("#ddSubject option:selected").text();
                var totalMarks = $("#txtTotalMarks").val();
                var marksObtained = $("#txtMarksObtained").val();
                var percentage = (parseInt(marksObtained) / parseInt(totalMarks)) * 100;

            
       var rowValue = 
           "<tr>" +
            "<td>" + subjectId + "</td>" +
            "<td>" + subject + "</td>" +
            "<td>" + totalMarks + "</td>" +
            "<td>" + marksObtained + "</td>" +
            "<td>" + percentage + "</td>" +
           "<td>" + "<input type='button' value='Remove' name='remove' class='btn btn-danger' onclick='removeMarks(subjectId)' /></td>" +
            "</tr>";
        $('#tableStudentMarks').append(rowValue);
        }

        ///////////////////////////////////Add Marks to DataBase///////////////////////////////////////////////////

        function addStudentMarksToDatabase() {
            var objStudentViewModel = {};
            var listOfStudentMarks = [];
            
            var tableMarks = $("#tableStudentMarks").find("tr:gt(0)");

            $.each(tableMarks, function () {
                var studentMarks = {};
                studentMarks.SubjectId = $(this).find("td:eq(0)").text();
                studentMarks.TotalMarks = $(this).find("td:eq(2)").text();
                studentMarks.ObtainedMarks = $(this).find("td:eq(3)").text();
                studentMarks.Percentage = $(this).find("td:eq(4)").text();
                listOfStudentMarks.push(studentMarks);

            })
            
            objStudentViewModel.StudentName = $("#txtStudentName").val();
            objStudentViewModel.ClassName = $("#txtClassName").val();
            objStudentViewModel.ExamId = $("#ddExam").val();
            objStudentViewModel.RollNumber = $("#txtRollNumber").val();
            objStudentViewModel.ListOfStudentMarks = listOfStudentMarks;



            $.ajax({
                 async: true,
                 dataType: 'JSON',
                 type: 'POST',
                 contentType: 'application/json; charset=utf-8',
                 processData: false,
                 url: '/Home/Index',
                 data: JSON.stringify(objStudentViewModel),
                 success: function (data) {
            

                 },
                 error: function () {
                     alert("There is error")

                  }
            });

        }


        </script>







<h4>Student Marks</h4>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">New Student</button>

<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Student Result</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @id = "txtStudentName" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Class)
                            @Html.TextBoxFor(x => x.Class, new { @class = "form-control", @id = "txtClassName" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.RollNumber)
                            @Html.TextBoxFor(model => model.RollNumber, new { @class = "form-control", @id = "txtRollNumber" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.ExamId)
                            @Html.DropDownListFor(model => model.ExamId, Model.ListOfExams, new { @class = "form-control", @id = "ddExam" })
                        </div>
                    </div>
                        <fieldset>
                            <legend>Student Marks</legend>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.SubjectId)
                                @Html.DropDownListFor(model => model.SubjectId, Model.ListOfSubject, new { @class = "form-control", @id = "ddSubject" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.TotalMarks)
                                @Html.TextBoxFor(model => model.TotalMarks, new { @class = "form-control", @id = "txtTotalMarks", @style="text-align:right" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.MarksObtained)
                                @Html.TextBoxFor(model => model.MarksObtained, new { @class = "form-control", @id = "txtMarksObtained", @style="text-align:right" })
                            </div>
                            <div class="form-group col-md-4">
                                <input  type="button" id="btnAddToList" name="addtolist" value="Add to list" class="btn btn-primary" />
                            </div>

                            <table class="table" style="width:100%"  id="tableStudentMarks" >
                                <thead>
                                    <tr>
                                        <th>Subject ID</th>
                                        <th>Subject</th>
                                        <th>Total Marks</th>
                                        <th>Marks Obtained</th>
                                        <th>Percentage</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </fieldset>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSave">Save</button> &nbsp;
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>

    </div>



